.credentialContainer{
    position: absolute;
    width: 600px;
    height: 700px;
    opacity: 0;
    background-color: rgb(36,41,47);
    transition: all 0.5s ease;
    font-size: small;
    z-index: 10;
}
.credentialContainer.visible {
    opacity: 1;
}
.externalLoginField{
    background-color: #202429;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 242px;
}
.externalRegisterField{
    background-color: #202429;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 175px;
}
.googleLoginButtonCreds,.googleRegisterButtonCreds{
    border-top-color: #4184f2;
    border-right-color: #f9bb04;
    border-bottom-color: #34a752;
    border-left-color: #e84235;
}
.githubLoginButtonCreds,.githubRegisterButtonCreds{
    border-color: #000000;
}

.googleLoginButtonCreds, .githubLoginButtonCreds{
    border-radius: 6px;
    color: white;
    background-color: rgb(0,0,0,14%);
    margin-top: 5%;
    width: 195px;
    height: 34px;
    box-shadow: black 0 0 10px;
}
.githubRegisterButtonCreds,.googleRegisterButtonCreds{
    border-radius: 6px;
    color: white;
    background-color: rgb(0,0,0,14%);
    margin-top: 1%;
    margin-bottom: 3%;
    width: 195px;
    height: 34px;
    box-shadow: black 0 0 10px;
}

.containerTopButtons{
    padding-top: 1%;
    fill: #212121;
    max-width: 276px;
    max-height: 68px;
    margin-left: 2%;
    margin-right: 2%;

}

.containerButtonText{
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    fill: white;
}

.selectiveRegisterButtonParagraph{
    position: absolute;
    z-index: 3;
    top: auto;
    left: auto;
}